.background {
  background-color: $very-light-gray;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 200px;
    background-color: #eee;
    background-image: url("./images/bg-mobile-light.jpg");
    @media (min-width: 640px) {
      background-image: url("./images/bg-desktop-light.jpg");
    }
  }
}
