.container {
  height: 100vh;
  width: 100%;
  padding: 0 $default-margin;
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;
    max-width: $max-width;
  }
  &__logo {
    text-transform: uppercase;
    color: $white;
    letter-spacing: 10px;
    font-weight: 700;
    font-size: 25px;
    user-select: none;
  }
  &__input {
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: $white;
    max-width: $max-width;
    position: relative;
    > input[type="checkbox"] {
      position: absolute;
      left: 20px;
      bottom: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      margin-right: 15px;
      border: none;
      outline: none;
      appearance: none;
      pointer-events: none;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(50%);
        width: 20px;
        height: 20px;
        border: 1px solid $light-grayish-blue;
        border-radius: 50%;
        background-color: transparent;
      }
    }
    > input[type="text"] {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background: transparent;
      padding: 20px 5px;
      padding-left: 55px;
      &::placeholder {
        color: $dark-grayish-blue;
      }
    }
    &__loader {
      position: absolute;
      right: 20px;
    }
  }
  &__list {
    max-width: $max-width;
    width: 100%;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: $white;
    list-style: none;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
    > li {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $very-light-grayish-blue;
      padding: 20px;
      > span {
        transform: scale(0.8);
      }
    }
    &__text {
      flex: 1;
      font-size: 16px;
      font-weight: 400;
      &.completed {
        text-decoration: line-through;
        color: $dark-grayish-blue;
      }
    }
    &__info {
      position: sticky;
      width: 100%;
      bottom: 0;
      z-index: 1;
      background-color: $white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;

      > span {
        color: $dark-grayish-blue;
        font-size: 14px;
        user-select: none;
        &:nth-child(2) {
          cursor: pointer;
          transition: color 0.1s ease-in-out;
          &:hover {
            color: $very-dark-grayish-blue;
          }
        }
        @include breakpoint-up(medium) {
          font-size: 12px;
        }
      }
    }
    &__confirm {
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 15px;
      > input,
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
      }
      > svg {
        z-index: 1;
        pointer-events: none;
      }
    }
    &__delete {
      cursor: pointer;
    }
  }
  &__sort {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 5px;
    padding: 20px;
    @include breakpoint-up(medium) {
      width: max-content;
      background-color: transparent;
      margin-top: -67px;
      height: 52px;
      z-index: 1;
    }
    > span {
      color: $dark-grayish-blue;
      font-weight: 700;
      padding: 0 15px;
      cursor: pointer;
      transition: color 0.1s ease-in-out;
      &:hover {
        color: $very-dark-grayish-blue;
      }
      &:active {
        color: $dark-grayish-blue;
      }
      @include breakpoint-up(medium) {
        font-size: 14px;
      }
      &.active {
        color: $bright-blue;
      }
    }
  }
  &__dragInfo {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
      text-align: center;
      color: $dark-grayish-blue;
      font-weight: 400;
      font-size: 16px;
    }
  }
  &__confirm {
    margin-right: 20px;
    border: none;
    outline: none;
    appearance: none;
    position: relative;
    cursor: pointer;
    &:hover {
      &::before {
        border-color: $bright-blue;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      border: 1px solid $light-grayish-blue;
      border-radius: 50%;
      background-color: transparent;
      transition: border-color 0.1s ease-in-out;
    }
    &:checked {
      &::before {
        background-image: linear-gradient(
          hsl(192, 100%, 67%),
          hsl(280, 87%, 65%)
        );
      }
    }
  }
  &__theme {
    cursor: pointer;
  }
}
