.container {
  height: 100vh;
  width: 100%;
  padding: 0 $default-margin;
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;
  }
  &__logo {
    text-transform: uppercase;
    color: $white;
    letter-spacing: 10px;
    font-weight: 700;
    font-size: 25px;
    user-select: none;
  }
  &__input {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: $white;
    padding: 20px;
    > input[type="checkbox"] {
      width: 20px;
      height: 20px;
      margin-right: 20px;
      border: none;
      outline: none;
      appearance: none;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border: 1px solid $light-grayish-blue;
        border-radius: 50%;
        background-color: transparent;
      }
    }
    > input[type="text"] {
      flex: 1;
      border: none;
      outline: none;
      padding: 20px 0;
      &::placeholder {
        color: $dark-grayish-blue;
      }
    }
  }
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white;
    list-style: none;
    border-radius: 5px;
    margin-bottom: 15px;
    > li {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $very-light-grayish-blue;
      padding: 20px;
    }
    &__text {
      flex: 1;
      font-size: 16px;
      font-weight: 400;
    }
    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      > span {
        color: $dark-grayish-blue;
        font-size: 14px;
        cursor: pointer;
      }
    }
    &__confirm {
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      > input,
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
      }
      > svg {
        z-index: 1;
      }
    }
  }
  &__sort {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 5px;
    padding: 20px;
    > span {
      color: $dark-grayish-blue;
      font-weight: 700;
      padding: 0 15px;
      cursor: pointer;
      transition: color 0.2s ease-in-out;
      &.active {
        color: $bright-blue;
      }
    }
  }
  &__dragInfo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
      text-align: center;
      color: $dark-grayish-blue;
      font-weight: 700;
    }
  }
  &__confirm {
    margin-right: 20px;
    border: none;
    outline: none;
    appearance: none;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      border: 1px solid $light-grayish-blue;
      border-radius: 50%;
      background-color: transparent;
    }
    &:checked {
      &::before {
        background-image: linear-gradient(
          hsl(192, 100%, 67%),
          hsl(280, 87%, 65%)
        );
      }
    }
  }
}
