@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

body {
  font-size: 18px;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.author {
  width: 100%;
  position: fixed;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 12px;
  color: #000;
  word-break: break-word;
  opacity: 0.5;
  text-align: center;
}

.author > a {
  font-weight: 700;
}

.background {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
}

.background > .image {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 200px;
  background-color: #eee;
  background-image: url("./images/bg-mobile-light.jpg");
}

@media (min-width: 640px) {
  .background > .image {
    background-image: url("./images/bg-desktop-light.jpg");
  }
}

.container {
  height: 100vh;
  width: 100%;
  padding: 0 5vw;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 50;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 35px;
  max-width: 600px;
  z-index: 50;
}

.container__logo {
  text-transform: uppercase;
  color: white;
  letter-spacing: 10px;
  font-weight: 700;
  font-size: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container__input {
  border-radius: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  background-color: white;
  max-width: 600px;
  position: relative;
}

.container__input > input[type="checkbox"] {
  position: absolute;
  left: 20px;
  bottom: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  pointer-events: none;
}

.container__input > input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 20px;
  height: 20px;
  border: 1px solid #d2d3db;
  border-radius: 50%;
  background-color: transparent;
}

.container__input > input[type="text"] {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: 20px 5px;
  padding-left: 55px;
}

.container__input > input[type="text"]::-webkit-input-placeholder {
  color: #9394a5;
}

.container__input > input[type="text"]:-ms-input-placeholder {
  color: #9394a5;
}

.container__input > input[type="text"]::-ms-input-placeholder {
  color: #9394a5;
}

.container__input > input[type="text"]::placeholder {
  color: #9394a5;
}

.container__input__loader {
  position: absolute;
  right: 20px;
}

.container__list {
  max-width: 600px;
  width: 100%;
  max-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  list-style: none;
  border-radius: 5px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  z-index: 50;
}

.container__list::-webkit-scrollbar {
  display: none;
}

.container__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e4e5f1;
  padding: 20px;
}

.container__list > li > span {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.container__list__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 16px;
  font-weight: 400;
}

.container__list__text.completed {
  text-decoration: line-through;
  color: #9394a5;
}

.container__list__info {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.container__list__info > span {
  color: #9394a5;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container__list__info > span:nth-child(2) {
  cursor: pointer;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

.container__list__info > span:nth-child(2):hover {
  color: #484b6a;
}

@media (min-width: 640px) {
  .container__list__info > span {
    font-size: 12px;
  }
}

.container__list__confirm {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  font-size: 16px;
  color: #fff;
}

.container__list__confirm > input,
.container__list__confirm svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
}

.container__list__confirm > svg {
  z-index: 1;
  pointer-events: none;
}

.container__list__delete {
  cursor: pointer;
}

.container__list__pending {
  opacity: 0.5;
}

.container__filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  z-index: 50;
}

@media (min-width: 640px) {
  .container__filter {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: transparent;
    margin-top: -67px;
    height: 52px;
  }
}

.container__filter > span {
  color: #9394a5;
  font-weight: 700;
  padding: 0 15px;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

.container__filter > span:hover {
  color: #484b6a;
}

.container__filter > span:active {
  color: #9394a5;
}

@media (min-width: 640px) {
  .container__filter > span {
    font-size: 14px;
  }
}

.container__filter > span.active {
  color: #3a7bfd;
}

.container__dragInfo {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__dragInfo > span {
  text-align: center;
  color: #9394a5;
  font-weight: 400;
  font-size: 16px;
}

.container__confirm {
  margin-right: 20px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  cursor: pointer;
}

.container__confirm:hover::before {
  border-color: #3a7bfd;
}

.container__confirm::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 1px solid #d2d3db;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: border-color 0.1s ease-in-out;
  transition: border-color 0.1s ease-in-out;
}

.container__confirm:checked::before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background-image: linear-gradient(#57ddff, #c058f3);
}

.container__icon {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.container__theme {
  cursor: pointer;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(72, 75, 106, 0.2);
  border-top-color: #9394a5;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
  pointer-events: none;
}

.theme-dark .background {
  background-color: #161722;
}

.theme-dark .background::before {
  background-image: url("./images/bg-mobile-dark.jpg");
}

@media (min-width: 640px) {
  .theme-dark .background::before {
    background-image: url("./images/bg-desktop-dark.jpg");
  }
}

.theme-dark .container__input {
  background-color: #25273c;
}

.theme-dark .container__list {
  background-color: #25273c;
  color: #cacde8;
}

.theme-dark .container__list > li {
  border-color: #393a4c;
}

.theme-dark .container__list__info {
  background-color: #25273c;
}

.theme-dark .container__list__info > span:nth-child(2):hover {
  color: #e4e5f1;
}

@media (max-width: 639px) {
  .theme-dark .container__filter {
    background-color: #25273c;
  }
  .theme-dark .container__filter > span:hover {
    color: white;
  }
}

.theme-dark .container__confirm::before {
  -webkit-transition: none;
  transition: none;
  border-color: #393a4c;
}

.theme-dark .container__sort {
  background-color: #25273c;
}

.theme-dark .container__sort > span:hover {
  color: #e4e5f1;
}

.theme-dark .container__input > input[type="text"] {
  color: #cacde8;
}

.theme-dark .container__input > input[type="checkbox"]::before {
  border-color: #393a4c;
}

.theme-dark .container__input__loader {
  border-color: #393a4c;
  border-top-color: #4f5069;
}

.theme-dark .container__dragInfo {
  color: #4d5066;
}

.theme-dark .container__dragInfo > span {
  color: #4d5066;
}

.theme-dark .author {
  color: #4d5066;
}

.theme-dark .author > a {
  color: #4d5066;
}
/*# sourceMappingURL=main.css.map */